*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# libcore build artifacts
/libcore/.build/
/libcore/libcore.aar
/libcore/libcore-sources.jar
/app/libs/libcore.aar
/app/libs/libcore-sources.jar
